root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript, TypeScript, Svelte
[*.{js,mjs,cjs,ts,mts,cts,svelte}]
indent_style = tab
indent_size = 4
max_line_length = 100

# JSON, JSON5
[*.{json,json5}]
indent_style = tab
indent_size = 4

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off
